[class^="member-"] [class^="avatar-"] [class*="wrapper-"] > svg,
[class^="member-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	> svg[class^="cursorDefault-"],
[class^="member-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	> svg[class^="cursorDefault-"]
	> svg[class^="dots-"],
[class^="channel-"] [class^="avatar-"] [class*="wrapper-"] > svg,
[class^="channel-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	> svg[class^="cursorDefault-"],
[class^="channel-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	> svg[class^="cursorDefault-"]
	> svg[class^="dots-"],
[class^="autocompleteRow"] [class*="content-"] > [class^="wrapper-"] > svg,
[class^="userInfo-"] [class^="avatar-"] > svg,
[class^="panels-"] [class^="avatar-"] > svg,
[class^="modal-"] > [class^="inner-"] [class^="avatar-"] > svg,
[class^="focusLock-"][aria-modal="true"]
	> [class^="root-"]
	[class^="avatar-"]
	> svg {
	overflow: visible;
}

[class^="member-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	> svg[class^="cursorDefault-"]
	> rect,
[class^="channel-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	> svg[class^="cursorDefault-"]
	> rect,
[class^="modal-"]
	> [class^="inner-"]
	[class^="avatar-"]
	> svg
	> svg[class^="cursorDefault-"]
	> rect {
	x: -18.5;
	y: -17;
}

[class^="member-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	> svg[class^="cursorDefault-"]
	> svg[class^="dots-"]
	circle,
[class^="channel-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	> svg[class^="cursorDefault-"]
	> svg[class^="dots-"]
	circle {
	cx: -20.1;
	r: 1.5;
}

[class^="member-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	> svg[class^="cursorDefault-"]
	> svg[class^="dots-"]
	circle:nth-child(1),
[class^="channel-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	> svg[class^="cursorDefault-"]
	> svg[class^="dots-"]
	circle:nth-child(1) {
	cy: -16;
}

[class^="member-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	> svg[class^="cursorDefault-"]
	> svg[class^="dots-"]
	circle:nth-child(2),
[class^="channel-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	> svg[class^="cursorDefault-"]
	> svg[class^="dots-"]
	circle:nth-child(2) {
	cy: -8;
}

[class^="member-"]
	[class^="avatar-"]
	[class^="wrapper-"]
	> svg
	> svg[class^="cursorDefault-"]
	> svg[class^="dots-"]
	circle:nth-child(3),
[class^="channel-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	> svg[class^="cursorDefault-"]
	> svg[class^="dots-"]
	circle:nth-child(3) {
	cy: 0;
}

[class^="member-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	rect[fill="#43b581"],
[class^="member-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	rect[fill="#faa61a"],
[class^="member-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	rect[fill="#f04747"],
[class^="member-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	rect[fill="#747f8d"],
[class^="member-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	rect[fill="#593695"],
[class^="member-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	rect[fill="#3ba55c"],
[class^="member-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	rect[fill="#ed4245"],
[class^="member-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	rect[fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"],
[class^="member-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	rect[fill="hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%)"],
[class^="member-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	rect[fill="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"],
[class^="member-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	rect[fill="hsl(214, calc(var(--saturation-factor, 1) * 9.9%), 50.4%)"],
[class^="member-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	rect[fill="hsl(262, calc(var(--saturation-factor, 1) * 46.8%), 39.8%)"],
[class^="channel-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	rect[fill="#43b581"],
[class^="channel-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	rect[fill="#faa61a"],
[class^="channel-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	rect[fill="#f04747"],
[class^="channel-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	rect[fill="#747f8d"],
[class^="channel-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	rect[fill="#593695"],
[class^="channel-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	rect[fill="#3ba55c"],
[class^="channel-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	rect[fill="#ed4245"],
[class^="channel-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	rect[fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"],
[class^="channel-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	rect[fill="hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%)"],
[class^="channel-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	rect[fill="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"],
[class^="channel-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	rect[fill="hsl(214, calc(var(--saturation-factor, 1) * 9.9%), 50.4%)"],
[class^="channel-"]
	[class^="avatar-"]
	[class*="wrapper-"]
	> svg
	rect[fill="hsl(262, calc(var(--saturation-factor, 1) * 46.8%), 39.8%)"] {
	mask: none !important;
	width: 4px;
	height: 32px;
	x: -4;
	y: 0;
}

[class^="autocompleteRow"]
	[class*="content-"]
	> [class^="wrapper-"]
	> svg
	rect[fill="#43b581"],
[class^="autocompleteRow"]
	[class*="content-"]
	> [class^="wrapper-"]
	> svg
	rect[fill="#faa61a"],
[class^="autocompleteRow"]
	[class*="content-"]
	> [class^="wrapper-"]
	> svg
	rect[fill="#f04747"],
[class^="autocompleteRow"]
	[class*="content-"]
	> [class^="wrapper-"]
	> svg
	rect[fill="#747f8d"],
[class^="autocompleteRow"]
	[class*="content-"]
	> [class^="wrapper-"]
	> svg
	rect[fill="#593695"],
[class^="autocompleteRow"]
	[class*="content-"]
	> [class^="wrapper-"]
	> svg
	rect[fill="#3ba55c"],
[class^="autocompleteRow"]
	[class*="content-"]
	> [class^="wrapper-"]
	> svg
	rect[fill="#ed4245"],
[class^="autocompleteRow"]
	[class*="content-"]
	> [class^="wrapper-"]
	> svg
	rect[fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"],
[class^="autocompleteRow"]
	[class*="content-"]
	> [class^="wrapper-"]
	> svg
	rect[fill="hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%)"],
[class^="autocompleteRow"]
	[class*="content-"]
	> [class^="wrapper-"]
	> svg
	rect[fill="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"],
[class^="autocompleteRow"]
	[class*="content-"]
	> [class^="wrapper-"]
	> svg
	rect[fill="hsl(214, calc(var(--saturation-factor, 1) * 9.9%), 50.4%)"],
[class^="autocompleteRow"]
	[class*="content-"]
	> [class^="wrapper-"]
	> svg
	rect[fill="hsl(262, calc(var(--saturation-factor, 1) * 46.8%), 39.8%)"] {
	mask: none !important;
	width: 4px;
	height: 24px;
	x: -4;
	y: 0;
}

[class^="panels-"] [class*="avatar-"] > svg rect[fill="#43b581"],
[class^="panels-"] [class*="avatar-"] > svg rect[fill="#faa61a"],
[class^="panels-"] [class*="avatar-"] > svg rect[fill="#f04747"],
[class^="panels-"] [class*="avatar-"] > svg rect[fill="#747f8d"],
[class^="panels-"] [class*="avatar-"] > svg rect[fill="#593695"],
[class^="panels-"]
	[class^="avatar-"]
	> svg
	rect[fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"],
[class^="panels-"]
	[class^="avatar-"]
	> svg
	rect[fill="hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%)"],
[class^="panels-"]
	[class^="avatar-"]
	> svg
	rect[fill="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"],
[class^="panels-"]
	[class^="avatar-"]
	> svg
	rect[fill="hsl(214, calc(var(--saturation-factor, 1) * 9.9%), 50.4%)"],
[class^="panels-"]
	[class^="avatar-"]
	> svg
	rect[fill="hsl(262, calc(var(--saturation-factor, 1) * 46.8%), 39.8%)"],
[class^="userInfo-"] [class^="avatar-"] > svg rect[fill="#43b581"],
[class^="userInfo-"] [class^="avatar-"] > svg rect[fill="#faa61a"],
[class^="userInfo-"] [class^="avatar-"] > svg rect[fill="#f04747"],
[class^="userInfo-"] [class^="avatar-"] > svg rect[fill="#747f8d"],
[class^="userInfo-"] [class^="avatar-"] > svg rect[fill="#593695"],
[class^="userInfo-"] [class^="avatar-"] > svg rect[fill="#3ba55c"],
[class^="userInfo-"] [class^="avatar-"] > svg rect[fill="#ed4245"],
[class^="userInfo-"]
	[class^="avatar-"]
	> svg
	rect[fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"],
[class^="userInfo-"]
	[class^="avatar-"]
	> svg
	rect[fill="hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%)"],
[class^="userInfo-"]
	[class^="avatar-"]
	> svg
	rect[fill="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"],
[class^="userInfo-"]
	[class^="avatar-"]
	> svg
	rect[fill="hsl(214, calc(var(--saturation-factor, 1) * 9.9%), 50.4%)"],
[class^="userInfo-"]
	[class^="avatar-"]
	> svg
	rect[fill="hsl(262, calc(var(--saturation-factor, 1) * 46.8%), 39.8%)"] {
	mask: none !important;
	width: 4px;
	height: 32px;
	x: 32;
	y: 0;
}

[class^="focusLock-"][aria-modal="true"]
	> [class^="root-"]
	[class^="avatar-"]
	> svg
	rect[fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"],
[class^="focusLock-"][aria-modal="true"]
	> [class^="root-"]
	[class^="avatar-"]
	> svg
	rect[fill="hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%)"],
[class^="focusLock-"][aria-modal="true"]
	> [class^="root-"]
	[class^="avatar-"]
	> svg
	rect[fill="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"],
[class^="focusLock-"][aria-modal="true"]
	> [class^="root-"]
	[class^="avatar-"]
	> svg
	rect[fill="hsl(214, calc(var(--saturation-factor, 1) * 9.9%), 50.4%)"],
[class^="focusLock-"][aria-modal="true"]
	> [class^="root-"]
	[class^="avatar-"]
	> svg
	rect[fill="hsl(262, calc(var(--saturation-factor, 1) * 46.8%), 39.8%)"] {
	mask: none !important;
	width: 8px;
	height: 120px;
	x: 120;
	y: 0;
}

[class^="accountProfileCard-"]
	[class^="avatar-"]
	> svg
	rect[fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"],
[class^="accountProfileCard-"]
	[class^="avatar-"]
	> svg
	rect[fill="hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%)"],
[class^="accountProfileCard-"]
	[class^="avatar-"]
	> svg
	rect[fill="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"],
[class^="accountProfileCard-"]
	[class^="avatar-"]
	> svg
	rect[fill="hsl(214, calc(var(--saturation-factor, 1) * 9.9%), 50.4%)"],
[class^="accountProfileCard-"]
	[class^="avatar-"]
	> svg
	rect[fill="hsl(262, calc(var(--saturation-factor, 1) * 46.8%), 39.8%)"] {
	mask: none !important;
	width: 8px;
	height: 80px;
	x: -8;
	y: 0;
}

[class^="userPopout-"]
	[class^="avatar-"]
	> svg
	rect[fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"],
[class^="userPopout-"]
	[class^="avatar-"]
	> svg
	rect[fill="hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%)"],
[class^="userPopout-"]
	[class^="avatar-"]
	> svg
	rect[fill="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"],
[class^="userPopout-"]
	[class^="avatar-"]
	> svg
	rect[fill="hsl(214, calc(var(--saturation-factor, 1) * 9.9%), 50.4%)"],
[class^="userPopout-"]
	[class^="avatar-"]
	> svg
	rect[fill="hsl(262, calc(var(--saturation-factor, 1) * 46.8%), 39.8%)"] {
	mask: none !important;
	width: 8px;
	height: 80px;
	x: 80;
	y: 0;
}
