[class*="role-"] {
	position: relative;
	border-radius: 5%;
}

[class^="role-"],
[note="FIX ME WHEN WE HAVE :has()"] {
	padding-left: 16px;
}

[class^="roleCircle-"] {
	margin: 0 !important;
	border-radius: 5% !important;
	width: 100%;
	height: 22px;
	top: 0;
	left: 0;
	opacity: 0.25;
	position: absolute;
	z-index: 1;
}

[class^="roleRemoveButton-"] {
	position: absolute;
	left: 0;
	width: 100%;
	height: 22px;
	overflow-x: clip;
	overflow-y: visible;
}

[class^="roleName-"] {
	z-index: 2;
}

[class^="roleRemoveIcon-"] {
	display: block;
	position: absolute;
	left: 8px;
	z-index: 4;
}

[class^="roleRemoveIcon-"] > path {
	fill: #ffffff;
	filter: brightness(1);
}

[class^="roleRemoveButton-"] [class*="roleDot-"] {
	width: 1em !important;
	height: 1em !important;
	margin-top: 0.25em;
}
