[class*="role-"] {
	position: relative;
	border-radius: 5%;
	padding-right: 10px;
}

[class*="roleCircle-"] {
	border-radius: 5%;
	position: absolute;
	width: 100%;
	height: 22px;
	z-index: 1;
	opacity: 0.25;
	margin-right: 0;
	margin-left: -4px;
}

[class*="roleName-"] {
	z-index: 2;
}

[class*="roleRemoveIcon-"] {
	display: block;
	margin: 6px 2px 6px 0;
	right: 0;
	top: 0;
	position: absolute;
}

[class*="roleRemoveIcon-"] > path {
	z-index: 5;
	fill: #fff;
	filter: brightness(1);
}

button[class*="addButton-"] {
	z-index: 3;
	padding-right: 4px;
}
