@use "./scheme/amora.css";
// @use "./scheme/nord.css";
// @use "./scheme/catppuccin.css";
// @use "./scheme/annie-dark.css";

// @use "./font/custom.css";
// @use "./font/terminus.css";
@use "./font/unifont.css";

@use "./textarea/mobile.css";

@use "./unread/circles.css";

@use "./snippets/bot_tag_9x.css";
@use "./snippets/nyantoro_progress_bar.css";
@use "./snippets/cozy_compact_hybrid.css";
@use "./snippets/endpwn_style_status_icons.css";
@use "./snippets/old_roles.css";
@use "./snippets/hide_account_details.css";
@use "./snippets/left_side_reply_control.css";

@use "./base.css";
