@use "./vars/scheme/amora.css";
// @use "./vars/scheme/nord.css";
// @use "./vars/scheme/catppuccin.css";

// @use "./vars/font/custom.css";
// @use "./vars/font/terminus.css";
@use "./vars/font/unifont.css";

@use "./vars/textarea/mobile.css";

@use "./vars/unread/circles.css";

@use "./vars/snippets/bot_tag_9x.css";
@use "./vars/snippets/nyantoro_progress_bar.css";
@use "./vars/snippets/cozy_compact_hybrid.css";
@use "./vars/snippets/endpwn_style_status_icons.css";
@use "./vars/snippets/old_roles.css";
@use "./vars/snippets/hide_account_details.css";
@use "./vars/snippets/left_side_reply_control.css";
@use "./vars/snippets/fixes.css";

@use "./base.css";
