[class^="channelTextArea-"],
[class^="channelTextArea-"] > [class^="scrollableContainer-"] {
	background-color: transparent !important;
}
[class^="channelTextArea-"] > [class^="scrollableContainer-"] {
	overflow: hidden !important;
}
[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> [class^="inner-"] {
	padding-left: 0 !important;
}
[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> [class^="inner-"]
	> [class^="attachWrapper-"] {
	margin-right: 10px;
}
[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> [class^="inner-"]
	> [class^="attachWrapper-"]
	> [class^="attachButton-"] {
	margin-left: 0 !important;
	padding: 10px;
}
[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> [class^="inner-"]
	> [class^="textArea-"] {
	margin-right: 10px;
}
[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> [class^="inner-"]
	> [class^="textArea-"]
	> div {
	padding-left: 10px;
	margin-left: 4px;
}
[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> [class^="inner-"]
	> [class^="buttons-"]
	> * {
	width: 44px;
	margin-right: 10px;
}

[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> [class^="inner-"]
	> [class^="buttons-"]
	> [class^="buttonContainer-"]
	> button,
[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> [class^="inner-"]
	> [class^="buttons-"]
	> .expression-picker-chat-input-button
	> * {
	width: 44px;
}

[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> [class^="inner-"]
	> [class^="attachWrapper-"],
[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> [class^="inner-"]
	> [class^="textArea-"],
[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> [class^="inner-"]
	> [class^="buttons-"]
	> * {
	background-color: var(--background-secondary);
	border-radius: 22px 22px 22px 22px;
}

[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> [class^="inner-"]
	> [class^="buttons-"]
	> [class^="separator-"] {
	margin-left: 0;
}

[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> [class^="inner-"]
	> [class^="buttons-"]
	> [class^="separator-"]:before {
	display: none;
}

[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> [class^="inner-"]
	> [class^="buttons-"]
	> [class^="separator-"]
	> [class^="buttonContainer-"]
	> button {
	width: 44px;
}

[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> [class^="inner-"]
	> [class^="buttons-"]
	> [class^="separator-"]
	> [class^="buttonContainer-"]
	> button
	> [class^="contents-"] {
	margin-left: 4px;
}

[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> [class^="inner-"]
	> [class^="buttons-"]
	> [class^="separator-"]
	> [class^="buttonContainer-"]
	> button
	> [class^="contents-"]
	> [class*="activeButtonChild-"] {
	color: var(--interactive-active);
}

[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> [class^="inner-"]
	> [class^="buttons-"]
	> [class^="separator-"]
	> [class^="buttonContainer-"]
	> button:not([disabled]) {
	background-color: var(--brand-experiment);
	border-radius: 22px 22px 22px 22px;
}

[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> div:not([class]) {
	background-color: var(--background-secondary);
}

[class^="channelTextArea-"] > [class^="attachedBars-"] {
	background: var(--background-primary) !important;
}

[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> [class^="inner-"]
	> [class^="textArea-"] {
	max-height: 128px;
	overflow-y: scroll;
}

[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> [class^="inner-"]
	> [class^="textArea-"]::-webkit-scrollbar {
	width: 16px;
	height: 16px;
}

[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> [class^="inner-"]
	> [class^="textArea-"]::-webkit-scrollbar-corner {
	background-color: transparent;
}

[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> [class^="inner-"]
	> [class^="textArea-"]::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-auto-thumb);
	min-height: 40px;
}

[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> [class^="inner-"]
	> [class^="textArea-"]::-webkit-scrollbar-thumb,
[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> [class^="inner-"]
	> [class^="textArea-"]::-webkit-scrollbar-track {
	border: 4px solid transparent;
	background-clip: padding-box;
	border-radius: 8px;
}

[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> [class^="inner-"]
	> [class^="attachWrapper-"] {
	max-height: 44px;
}

[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> [class^="inner-"] {
	align-items: center;
}

[class^="channelTextArea-"]
	> [class^="scrollableContainer-"]
	> [class^="inner-"]
	> [class^="textArea-"]
	> div
	> [class^="placeholder-"] {
	left: 14px;
}
