@font-face {
	font-family: "Unifont";
	src: local("Unifont"),
		url(https://cynosphere.gitlab.io/Customizations/discord/assets/unifont-14.0.01.ttf)
			format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Terminus (TTF)";
	src: local("Terminus (TTF)"),
		url(https://cynosphere.gitlab.io/Customizations/discord/assets/TerminusTTF-4.47.0.ttf)
			format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Terminus (TTF)";
	src: local("Terminus (TTF)"),
		url(https://cynosphere.gitlab.io/Customizations/discord/assets/TerminusTTF-Bold-4.47.0.ttf)
			format("truetype");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Terminus (TTF)";
	src: local("Terminus (TTF)"),
		url(https://cynosphere.gitlab.io/Customizations/discord/assets/TerminusTTF-Bold%20Italic-4.47.0.ttf)
			format("truetype");
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: "Terminus (TTF)";
	src: local("Terminus (TTF)"),
		url(https://cynosphere.gitlab.io/Customizations/discord/assets/TerminusTTF-Italic-4.47.0.ttf)
			format("truetype");
	font-weight: normal;
	font-style: italic;
}

:root {
	--font-primary: "Terminus (TTF) for Windows", "Terminus (TTF)", "Unifont",
		monospace !important;
	--font-display: "Terminus (TTF) for Windows", "Terminus (TTF)", "Unifont",
		monospace !important;
	--font-code: "Terminus (TTF) for Windows", "Terminus (TTF)", "Unifont",
		monospace !important;

	--_font-titlebars: var(--font-primary) !important;
}

[class^="menu-"] [class^="item-"],
[class^="containerDefault-"]
	> [class^="iconVisibility-"]
	> [class^="content-"]
	[class^="name-"] {
	font-size: 16px;
	text-transform: none;
	font-weight: 500;
}
[class^="containerDefault-"]
	> [class^="iconVisibility-"]
	> [class^="mainContent-"]
	[class^="name-"],
[class^="membersGroup-"],
[class^="headerContent-"] > [class^="name-"] {
	font-size: 16px;
	text-transform: none;
	font-weight: 600;
}

[class^="reaction-"] [class*="reactionCount-"] {
	font-size: 12px;
}

.hh2-spotify-controls-album-name,
.gm-spotify-controls-album-name,
.showTag-username {
	color: var(--highlight) !important;
	font-size: 0.75em !important;
}

[class^="sidebar-"]
	> [class^="container-"]
	> [class^="container-"]
	> [class^="header-"]
	> [class^="name-"],
[class*="heading-md-medium-"],
[class*="heading-md-normal-"] {
	font-size: 16px !important;
}

[class*="edited-"],
[class*="botTag-"] [class*="botText-"] {
	font-size: 12px;
}

[class^="latin12CompactTimeStamp-"],
[class^="latin24CompactTimeStamp-"],
[class^="asianCompactTimeStamp-"],
[class^="embedFooterText-"] {
	font-size: 0.75em !important;
}
